body {
    background-color: #000000;
    padding: 20px;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    scrollbar-width: none !important;          
    -ms-overflow-style: none !important;       
}

*::-webkit-scrollbar {
    display: none !important;                  
}

/* three buttons to navigate */

.sectionMenuBar{
    text-align: center;
    position: relative;
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
}

.sectionMenuBar button{
    min-width: 80px;
    background-color: rgba(255, 255, 255, 0.825);
    padding: 7px;
    border-color: black;
    cursor: pointer;
}

.languageSection{
    position: absolute;
    left: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.825);
    padding: 7px;
    border-color: black;
}

.languageSection select{
    background: transparent;
    border: none;
}

.languageSection i,
.languageSection select {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

/* movieTable section */

#movieTable p{
    color: white;
}

table{
    padding: 15px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;

    max-width: 560;
    th:nth-child(1), td:nth-child(1) { width: 340px; } 
    th:nth-child(2), td:nth-child(2) { width: 180px; } 
    th:nth-child(3), td:nth-child(3) { width: 100px; } 
    th:nth-child(4), td:nth-child(4) { width: 110px; }
    th:nth-child(5), td:nth-child(5) { width: 80px; } 
}

th{
    padding: 20px 25px;
    color: white;
    border-bottom: 2px solid gray;
}

td{
    color:white;
    padding: 3px;
    text-align: center;
}

#searchBar{
    text-align: center;
    margin-top: 15px;
    color: white;
}

#movieFind{
    text-align: center;
    width: 300px;
}

#movieFind, #searchTags{
    vertical-align: middle;
}

#tagSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 15px auto 0;
}

.movieSectionTag{
    margin-top: 10px;
    padding: 1px;
    min-width: 115px;
    background-color: rgba(255, 255, 255, 0.825);
    text-align: center;
    color: black;
    border: 1px solid white;
    cursor: pointer;
}

.movieSectionTag:hover{
    border: 1px solid red;
}

/* review box */

.disableScroll{
    overflow: hidden;
}

#dialogOpen{
    min-height: 650px;
    min-width: 650px;
    max-width: 650px;
    background-color: #1F1E1F;
    outline: none;
    border: 6px solid #36454F;
    color: white;
}

#tagContainer{
    display: flex;
}

.movieTag {
    background-color: #374151;
    margin-right: 6px;
    margin-bottom: 14px;
    color: #F9FAFB;            
    border: 1px solid #F9FAFB; 
    padding: 4px 6px;
}

.evilMovieTag {
    background-color: #7b2f2f;
}

.bolded{
    font-weight: bold; 
    color: #F9FAFB;
}

#ratingContainer{
    display: flex;
    flex-wrap: wrap;
}

.seasonBox{
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-right: 5px;
    min-width: 30px;
    max-height: 30px;
    color: black;
    border: 2px solid black;
    margin-bottom: 5px;
}

.seasonButton{
    text-align: center;
    padding: 4px 10px;
    cursor: pointer;
    background: none;
    color: white;
    border: 1px solid #F9FAFB;
    margin-bottom: 15px;
}

.active{
    background: #374151;
}
